
<div><p>
	The website was made in order to understand the working of Ruby on Rails.
	So far the things learnt include -
	<ul>
		<li> HTML</li>
		<li> css </li>
		<li> ruby</li>
		<li>rails</li>
		</ul>
		Changes yet to be done - 
		<ul>
			<li>Code clearance</li>
			<li>Incorporate Javascript or jQuery</li>
			<li>Pagination in various tables</li>
			<li>search functionality on various record-types</li>
		</ul>
</p></div>
